.hatter1{
    background-image: url(background.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    text-align: left;
}

.nav-link active{
    padding: 600px;
}

.menu{
    margin-right: 30px;
    margin-left: 260px;
}

